<ion-view title="Classes" hide-nav-bar="true" id="page10" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 4px;"></div>
        <div class="item item-body " id="onboardingClasses-list-item-container6">
            <div>
                <div>
                    <div class="bold center title  title-margin">Add your semester classes</div>

                    <div class="center">
                        Tell us your class schedule so we can schedule around them
                    </div>
                </div>
            </div>
        </div>
        <form id="onboardingClasses-form23" class="list ">
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <label class="item item-input " id="onboardingClasses-input26">
                <span class="input-label">Title</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <form id="onboardingClasses-form24" class="list ">
            <label class="item item-input " id="onboardingClasses-input27">
                <span class="input-label">Start time</span>
                <input type="time" placeholder="">
            </label>
            <label class="item item-input " id="onboardingClasses-input28">
                <span class="input-label">End time</span>
                <input type="time" placeholder="">
            </label>
            <h3 id="onboardingClasses-heading6" style="color:#FF3800;text-align:center;" class=" ">Repeats</h3>
        </form>
        <form id="onboardingClasses-form25" class="list ">
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle23" class=" eventrepeats">SUN</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle24" class=" eventrepeats">MON</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle25" class=" eventrepeats">TUE</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle26" class=" eventrepeats">WED</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle27" class=" eventrepeats">THU</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle28" class=" eventrepeats">FRI</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingClasses-toggle29" class=" eventrepeats">SAT</ion-toggle>
        </form>
        <form id="onboardingClasses-form26" class="list ">
            <label class="item item-input " id="onboardingClasses-input29">
                <span class="input-label">Start date</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-input " id="onboardingClasses-input30">
                <span class="input-label">End date</span>
                <input type="date" placeholder="">
            </label>
        </form>
        <div id="onboardingClasses-button-bar12" class=" button-bar ">
            <a ui-sref="list" id="onboardingClasses-button59" class=" button button-assertive  button-block ">Ignore</a>
            <a ng-click="addClass()" id="onboardingClasses-button60" class=" button button-assertive  button-block ">Add Class</a>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
    </ion-content>
</ion-view>