<ion-view title="Done" hide-nav-bar="true" id="page13" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 277.3125px; height: 13px;"></div>
        <div class="">
            <img src="./css/img/brainbuild_name.png" width="250" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="done-form27" class="list ">
            <div class="spacer" style="width: 300px; height: 23.96875px;"></div>
            <div class="list card " id="done-card23">
                <div class="item item-body " id="done-list-item-container10">
                    <div>
                        <div>
                            <div class="bold center title  title-margin">You're all set!...</div>

                            <div class="center">
                                You should have a new calendar added to your google account with the following structure "*Your Name* - *Your School* *Your Sport* (Brainbuild)." We sent your workout and class schedule through our algorithm and created appropriate meal times.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-body " id="done-list-item-container10">
                    <div>
                        <div>
                            <div class="bold center title  title-margin">...Almost</div>

                            <div class="center">
                                Alas, we are in beta. Our algorithm isn't perfect (yet) and may have generated a faulty schedule. Luckily, the Brainbuild team will be checking your profile to make sure everything is perfect ASAP. In the meantime, you can see your schedule with our custom tailored recommendations <a href="https://brainbuild.github.io">here</a> and check it out.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-body " id="done-list-item-container10">
                    <div>
                        <div>
                            <div class="bold center title  title-margin">Let us know what's good!</div>

                            <div class="center">
                                Finally, please please feel free to contact us with any questions or concerns at:<br>
                                <br>
                                brainbuildlabs@gmail.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 37.941px;"></div>
        </form>
    </ion-content>
</ion-view>