<ion-view title="Done" hide-nav-bar="true" id="page13" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="width: 277.3125px; height: 13px;"></div>
        <div class="">
            <img src="./css/img/brainbuild_name.png" width="250" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="done-form27" class="list ">
            <div class="spacer" style="width: 300px; height: 23.96875px;"></div>
            <div class="list card " id="done-card23">
                <div class="item item-body " id="done-list-item-container10">
                    <div>
                        <div>
                            <div class="bold center title  title-margin">You're all set!</div>

                            <div class="center">
                                The Brainbuild team will be checking your profile to make sure everything is perfect before sending it off to you.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 37.941px;"></div>
        </form>
    </ion-content>
</ion-view>