<ion-view title="Edit" hide-nav-bar="true" hide-back-button="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">

        <div class="list card " id="editEvents-card7">
            <div class="item item-body">
                <div class="bold center title  title-margin">
                    {{athlete.fullName}} - {{athlete.school}} {{athlete.sport}} (Brainbuild)
                </div>
            </div>
        </div>
        <a ui-sref="welcome" id="editEvents-button20" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Edit Profile</a>
        
        <div class="list card" ng-repeat="wo in wos track by $index| orderBy: 'start.dateTime'">
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            </div>
                            <div id="list-title" class="bold center title title-margin">{{wo.summary}}</div>
                            <div class="center">
                                <i class="icon ion-android-time" style="margin-right: 4px"></i>{{wo.start.dateTime | date: 'shortTime' : 'utc'}} - {{wo.end.dateTime | date: 'shortTime' : 'utc'}}
                            </div>
                        <div class="button-bar" id="no-top-margin">
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[0]" ng-click="wo.description[0]=!wo.description[0]" ng-class="wo.description[0]?'button-assertive':'button-light'">S</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[1]" ng-click="wo.description[1]=!wo.description[1]" ng-class="wo.description[1]?'button-assertive':'button-light'">M</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[2]" ng-click="wo.description[2]=!wo.description[2]" ng-class="wo.description[2]?'button-assertive':'button-light'">T</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[3]" ng-click="wo.description[3]=!wo.description[3]" ng-class="wo.description[3]?'button-assertive':'button-light'">W</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[4]" ng-click="wo.description[4]=!wo.description[4]" ng-class="wo.description[4]?'button-assertive':'button-light'">T</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[5]" ng-click="wo.description[5]=!wo.description[5]" ng-class="wo.description[5]?'button-assertive':'button-light'">F</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="wo.description[6]" ng-click="wo.description[6]=!wo.description[6]" ng-class="wo.description[6]?'button-assertive':'button-light'">S</a>
                        </div>
                    </div>
                </div>
                <div class="button-bar">
                    <button ng-click="deleteEvent('wos', wo.summary)" class="button button-dark  button-block button-outline icon ion-android-delete"></button>
                </div>
            </div>
        </div>
        <a ng-click="addNewWorkout()" id="editEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create a Workout</a>

        <div class="list card" ng-repeat="cl in cls track by $index| orderBy: 'start.dateTime'">
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            </div>
                            <div class="bold center title title-margin">{{cl.summary}}</div>
                            <div class="center">
                                <i class="icon ion-android-time" style="margin-right: 4px"></i>{{cl.start.dateTime | date: 'shortTime' : 'utc'}} - {{cl.end.dateTime | date: 'shortTime' : 'utc'}}
                            </div>
                        <div class="button-bar" id="no-top-margin">
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[0]" ng-click="cl.description[0]=!cl.description[0]" ng-class="cl.description[0]?'button-assertive':'button-light'">S</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[1]" ng-click="cl.description[1]=!cl.description[1]" ng-class="cl.description[1]?'button-assertive':'button-light'">M</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[2]" ng-click="cl.description[2]=!cl.description[2]" ng-class="cl.description[2]?'button-assertive':'button-light'">T</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[3]" ng-click="cl.description[3]=!cl.description[3]" ng-class="cl.description[3]?'button-assertive':'button-light'">W</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[4]" ng-click="cl.description[4]=!cl.description[4]" ng-class="cl.description[4]?'button-assertive':'button-light'">T</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[5]" ng-click="cl.description[5]=!cl.description[5]" ng-class="cl.description[5]?'button-assertive':'button-light'">F</a>
                            <a id="day-of-week" class="button button-primary button-block" ng-model="cl.description[6]" ng-click="cl.description[6]=!cl.description[6]" ng-class="cl.description[6]?'button-assertive':'button-light'">S</a>
                        </div>
                    </div>
                </div>
                <div class="button-bar">
                    <button ng-click="deleteEvent('cls', cl.summary)" class="button button-dark  button-block button-outline icon ion-android-delete"></button>
                </div>
            </div>
        </div>

        <a ng-click="addNewClass()" id="editEvents-button20" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create a Class</a>

        <a ng-click="generateSchedule()" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Generate Schedule</a>

        <div class="spacer" style="width: 300px; height: 40px;"></div>
    </ion-content>
</ion-view>