<ion-view title="Wait" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <!-- <div class="spacer" style="width: 277.3125px; height: 13px;"></div> -->
        <div class="">
            <img src="./css/img/brainbuild_name.png" width="250" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body " id="done-list-item-container10">
            <div>
                <div>
                    <div class="bold center title  title-margin">Wait!</div>

                    <div class="center">
                        You already have a calendar with us. Go to your google calendar and look for calendar with this structure: <br> <strong>*Name* - *School* *Sport* (Brainbuild)</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="item item-body " id="done-list-item-container10">
            <div>
                <div>
                    <div class="bold center title  title-margin">...but maybe you want another one?</div>

                    <div class="center">
                        I guess that's chill
                        <!-- <a href="https://brainbuild.github.io">here</a>  -->
                        <a ui-sref="welcome" style="border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline">Go ahead</a>
                        and maybe email us with why:<br>
                        <a href="mailto:brainbuildlabs@gmail.com?Subject=Problems%20with%20Brainbuild" target="_top">brainbuildlabs@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>