    <ion-view title="Workouts" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 4px;"></div>
        <div class="item item-body " id="onboardingWorkouts-list-item-container4">
            <div>
                <div>
                    <div class="bold center title  title-margin">Add a recurring workout</div>

                    <div class="center">
                        Tell us when you practice so we can schedule your reminders at the most optimal times
                    </div>
                </div>
            </div>
        </div>
        <form id="onboardingWorkouts-form16" class="list ">
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <label class="item item-input ">
                <span class="input-label">Title</span>
                <input type="text" ng-model="workout.summary" placeholder="i.e. Practice, Workout">
            </label>
        </form>
        <form id="onboardingWorkouts-form17" class="list ">
            <label class="item item-input">
                <span class="input-label">Start time</span>
                <input type="time" ng-model="workout.start.dateTime" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">End time</span>
                <input type="time" ng-model="workout.end.dateTime" placeholder="">
            </label>
            <h3 style="color:#FF3800;text-align:center;" class=" ">Repeats</h3>
        </form>
        <form class="list ">
            <ion-toggle ng-model="workout.description[0]" toggle-class="toggle-assertive">SUN</ion-toggle>
            <ion-toggle ng-model="workout.description[1]" toggle-class="toggle-assertive">MON</ion-toggle>
            <ion-toggle ng-model="workout.description[2]" toggle-class="toggle-assertive">TUE</ion-toggle>
            <ion-toggle ng-model="workout.description[3]" toggle-class="toggle-assertive">WED</ion-toggle>
            <ion-toggle ng-model="workout.description[4]" toggle-class="toggle-assertive">THU</ion-toggle>
            <ion-toggle ng-model="workout.description[5]" toggle-class="toggle-assertive">FRI</ion-toggle>
            <ion-toggle ng-model="workout.description[6]" toggle-class="toggle-assertive">SAT</ion-toggle>
        </form>

        <div class="button-bar">
            <a ui-sref="list" class="button button-assertive button-block">Ignore</a>
            <a ng-click="addWorkout()" class="button button-assertive button-block">Add Workout</a>
        </div>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
    </ion-content>
</ion-view>