<ion-view title="Workouts" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 4px;"></div>
        <div class="item item-body " id="onboardingWorkouts-list-item-container4">
            <div>
                <div>
                    <div class="bold center title  title-margin">Add a recurring workout</div>

                    <div class="center">
                        Tell us when you practice so we can schedule your reminders at the most optimal times
                    </div>
                </div>
            </div>
        </div>
        <form id="onboardingWorkouts-form16" class="list ">
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <label class="item item-input ">
                <span class="input-label">Title</span>
                <input type="text" ng-model="workout.summary" placeholder="i.e. Practice, Workout">
            </label>
        </form>
        <form id="onboardingWorkouts-form17" class="list ">
            <label class="item item-input">
                <span class="input-label">Start time</span>
                <input type="time" ng-model="workout.start.dateTime" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">End time</span>
                <input type="time" ng-model="workout.end.dateTime" placeholder="">
            </label>
            <h3 id="onboardingWorkouts-heading5" style="color:#FF3800;text-align:center;" class=" ">Repeats</h3>
        </form>
        <form id="onboardingWorkouts-form21" class="list ">
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle16" class=" eventrepeats">SUN</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle17" class=" eventrepeats">MON</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle18" class=" eventrepeats">TUE</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle19" class=" eventrepeats">WED</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle20" class=" eventrepeats">THU</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle21" class=" eventrepeats">FRI</ion-toggle>
            <ion-toggle toggle-class="toggle-assertive" id="onboardingWorkouts-toggle22" class=" eventrepeats">SAT</ion-toggle>
        </form>
        <div id="onboardingWorkouts-button-bar8" class=" button-bar ">
            <a ui-sref="welcome" id="onboardingWorkouts-button13" class=" button button-assertive  button-block ">Back</a>
            <a ui-sref="list" id="onboardingWorkouts-button14" class=" button button-assertive  button-block ">Add Workout</a>
        </div>
    </ion-content>
</ion-view>