<ion-view title="Post" hide-nav-bar="true" hide-back-button="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="bold center title title-margin">{{brainbuild.summary}}</div>
        <div class="button-bar" id="no-top-margin">
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[0]" ng-click="dayChange(0)" ng-class="day[0]?'button-assertive':'button-light'">S</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[1]" ng-click="dayChange(1)" ng-class="day[1]?'button-assertive':'button-light'">M</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[2]" ng-click="dayChange(2)" ng-class="day[2]?'button-assertive':'button-light'">T</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[3]" ng-click="dayChange(3)" ng-class="day[3]?'button-assertive':'button-light'">W</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[4]" ng-click="dayChange(4)" ng-class="day[4]?'button-assertive':'button-light'">T</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[5]" ng-click="dayChange(5)" ng-class="day[5]?'button-assertive':'button-light'">F</a>
            <a id="day-of-week" class="button button-primary button-block" ng-model="day[6]" ng-click="dayChange(6)" ng-class="day[6]?'button-assertive':'button-light'">S</a>
        </div>
        <div class="list card" ng-repeat="event in events track by $index">
            <div class="item item-body">
                <div>
                    <div>
                        <div id="list-title" class="bold center title title-margin">{{event.summary}}</div>
                        <div class="center">
                            <i class="icon ion-android-time" style="margin-right: 4px"></i>{{event.start.dateTime | date: 'shortTime' : 'utc'}} - {{event.end.dateTime | date: 'shortTime' : 'utc'}}
                        </div>
                    </div>
                </div>
                <div class="button-bar">
                    <button ng-click="deleteEvent(event.summary)" class="button button-dark  button-block button-outline icon ion-android-delete"></button>
                </div>
            </div>
        </div>

        <a ng-click="addNewWorkout()" id="editEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create a Workout</a>
        <a ng-click="addNewClass()" id="editEvents-button20" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create a Class</a>
        <a ui-sref="welcome" id="editEvents-button20" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Edit Profile</a>
        <a ng-click="generateSchedule()" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Generate Schedule</a>
        <div class="spacer" style="width: 300px; height: 40px;"></div>
    </ion-content>
</ion-view>