<ion-view title="New Workout Event" hide-back-button="true" id="page6" style="background-color:#F0F0F0;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 297.313px; height: 0px;"></div>
        <div class="">
            <img src="img/Weight.png" width="100" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="newWorkoutEvent-form7" class="list ">
            <h3 id="newWorkoutEvent-heading3" style="color:#FF3800;text-align:center;" class=" "></h3>
            <label class="item item-select " id="newWorkoutEvent-select1">
                <span class="input-label">Sport</span>
                <select ng-model="currentWorkout.sport">
                    <option>Baseball</option>
                    <option>Field Hockey</option>
                    <option>Football</option>
                    <option>Men's Basketball</option>
                    <option>Men's Cross Country</option>
                    <option>Men's Fencing</option>
                    <option>Men's Golf</option>
                    <option>Men's Gymnastics</option>
                    <option>Men's Lacrosse</option>
                    <option>Men's Lacrosse</option>
                    <option>Men's Rifle</option>
                    <option>Men's Skiing</option>
                    <option>Men's Soccer</option>
                    <option>Men's Swimming and Diving</option>
                    <option>Men's Tennis, Indoor</option>
                    <option>Men's Track, Outdoor</option>
                    <option>Men's Volleyball</option>
                    <option>Men's Wrestling</option>
                    <option>Softball</option>
                    <option>Women's Basketball</option>
                    <option>Women's Beach Volleyball</option>
                    <option>Women's Bowling</option>
                    <option>Women's Cross Country</option>
                    <option>Women's Equestrian</option>
                    <option>Women's Fencing</option>
                    <option>Women's Golf</option>
                    <option>Women's Gymnastics</option>
                    <option>Women's Ice Hockey</option>
                    <option>Women's Lacrosse</option>
                    <option>Women's Rifle</option>
                    <option>Women's Rowing</option>
                    <option>Women's Rugby</option>
                    <option>Women's Skiing</option>
                    <option>Women's Soccer</option>
                    <option>Women's Swimming and Diving</option>
                    <option>Women's Tennis</option>
                    <option>Women's Track, Indoor</option>
                    <option>Women's Track, Outdoor</option>
                    <option>Women's Triathlon</option>
                    <option>Women's Volleyball</option>
                    <option>Women's Water Polo</option>
                </select>
            </label>
            <label class="item item-select " id="newWorkoutEvent-select2">
                <span class="input-label">Status</span>
                <select ng-model="currentWorkout.status">
                    <option>Pre-Season (High Intensity)</option>
                    <option>In-Season (Moderate Intensity)</option>
                    <option>Post-Season (Low Intensity)</option>
                    <option>Long-Distance Cardio (&gt;25 miles/week)</option>
                    <option>General Injury Recovery</option>
                    <option>Concussion Recovery</option>
                </select>
            </label>
            <div style="margin-right:-20px;">
                <button id="newWorkoutEvent-button19" style="left:-10px;" class=" button button-assertive button-large button-full button-clear icon ion-android-time "></button>
            </div>
            <label class="item item-input " id="newWorkoutEvent-input9" name="Start Time">
                <span class="input-label">Start Time</span>
                <input ng-model="currentWorkout.startTime" type="time" placeholder="">
            </label>
            <label class="item item-input " id="newWorkoutEvent-input11" name="End Time">
                <span class="input-label">End Time</span>
                <input ng-model="currentWorkout.endTime" type="time" placeholder="">
            </label>
            <div style="margin-right:-20px;">
                <button id="newWorkoutEvent-button22" style="left:-10px;" class=" button button-assertive button-large button-full button-clear icon ion-android-calendar "></button>
            </div>
            <label class="item item-input " id="newWorkoutEvent-input12" name="Start Date">
                <span class="input-label">Start Date</span>
                <input ng-model="currentWorkout.startTime" type="date" placeholder="">
            </label>
            <label class="item item-input " id="newWorkoutEvent-input13" name="End Date">
                <span class="input-label">End Date</span>
                <input ng-model="currentWorkout.endDate" type="date" placeholder="">
            </label>
            <button id="newWorkoutEvent-button23" class=" button button-assertive button-large button-block button-clear icon ion-android-refresh "></button>
            <h3 id="newWorkoutEvent-heading4" style="color:#FF3800;text-align:center;" class=" "></h3>
            <ion-toggle ng-repeat="item in currentWorkout.repeat" ng-model="item.checked" ng-checked="item.checked" toggle-class="toggle-assertive" id="newWorkoutEvent-toggle2">
            {{ item.text }}
            </ion-toggle>
        </form>
        <a ng-click="addWorkout()" id="newWorkoutEvent-button26" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create Workout</a>
        <!-- <a ng-click="cancelWorkout()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Cancel</a> -->
        <div class="spacer" style="width: 277.313px; height: 12px;"></div>
    </ion-content>
</ion-view>