<ion-view title="Workouts" hide-back-button="true" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- workout event -->
        <div class="list card " id="editWorkoutEvents-card7" ng-repeat=" workout in workouts track by $index">
            <div class="item item-divider">{{ workout.sport }}: {{ workout.status }}</div>
            <div class="item item-body">
                <div>
                    <div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>Start Date: {{ workout.startTime | date:'MMMM d, y'}}
                        </div>
                        <div>
                            <i class="icon ion-android-calendar" style="margin-right: 5px"></i>End Date: {{ workout.endDate | date:'MMMM d, y'}}
                        </div>
                        <div>
                            <i class="icon ion-android-time" style="margin-right: 4px"></i>{{ workout.startTime | date:'shortTime'}} - {{ workout.endTime | date:'shortTime'}}
                        </div>
                        <div>
                            <i class="icon ion-refresh" style="margin-right: 3px"></i>Repeats weekly on 
                            <div ng-show="rep.checked" id="repeat-day" ng-repeat="rep in workout.repeat">{{ rep.text }} </div>
                        </div>
                    </div>
                </div>
                <div id="editWorkoutEvents-button-bar2" class=" button-bar ">
                    <button ng-click="editWorkout(workout.woId)"  id="editWorkoutEvents-button65" class=" button button-dark  button-block button-outline icon ion-edit "></button>
                    <button ng-click="deleteWorkout(workout.woId)" id="editWorkoutEvents-button66" class=" button button-dark  button-block button-outline icon ion-android-delete "></button>
                </div>
            </div>
        </div>

        <!-- to newWorkout.html -->
        <a ng-click="createWorkout()" id="editWorkoutEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Create Another Workout</a>
        
        <!-- post to GAPI -->
        <a ng-click="makeEvents()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Generate Schedule</a>

        <a ng-click="refreshWorkouts()" id="editWorkoutEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Refresh Page</a>

        <a ng-click="logout()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Logout</a>

        <!-- XYZ buttons-->
        <!-- <a ng-click="deleteCalendarButton()" id="editWorkoutEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Delete Brainbuild Calendar</a>

        <a ng-click="insertCalendarButton()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Insert Brainbuild Calendar</a>

        <a ng-click="deleteLocalStorage()" id="editWorkoutEvents-button10" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block button-outline ">Delete LocalStorage</a>

        <a ng-click="refreshPage()" id="editWorkoutEvents-button11" style="font-weight:500;border-radius:15px 15px 15px 15px;" class=" button button-assertive  button-block ">Refresh</a> -->

        <div class="spacer" style="width: 277.313px; height: 12px;"></div>
    </ion-content>
</ion-view>