/* Empty. Add your own CSS if you like */
#repeat-day {
	display: inline;
}
.center-text{
	text-align: center;
}

/*

Auth0 Login
#FF3800 = Primary Color

https://developers.google.com/identity/images/btn_google_signin_dark_normal_web.png

*/


.a0-avatar-guest {
	height: 220px !important;
	content: url('./img/brainbuild_name.png') !important;
}

.a0-next {
	background-color: #FF3800 !important;
}


.a0-db-actions, 
.a0-separator, 
.a0-emailPassword,
.a0-forgot-pass,
.bottom-content
{
	display: none !important;
}

.a0-icon-container {
	padding-bottom: 20px;
	text-align: center;
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header h1:after{
	content:' with Google:';
};

/*.a0-googleplus {
	height: 160px !important;
}*/

.a0-zocial {
    content: "yes";
}

/*Calendar Color: #4986E7  (white text)
Practices: #4986E7  (same as default calendar)
Snacks: #FFB878 
Meals: #DC2127 
Classes: #7AE7BF 
Sleep: #E1E1E1 */